@media screen and (max-device-width: 736px) and (min-device-width: 1px){
    html,body{
        font-size: 14px;
    }

    .parallax{
        height: 75px;
    }

    .grid-column--4{
        grid-template-columns: 50% 50%;
    }

    .projects{
        min-height: 30em;
    }
}

@media screen and (max-device-width: 500px) and (min-device-width: 1px){

    .grid-template--3{
        grid-template-columns: 50% 50%;
    }

    .skill-slider{
        padding: 1em;
    }

    .p-title__p{
        padding: 1em 2.5em;
        &:before,&:after{
            width: 2em;
        }
    }

    .parallax {
        height: 50px;
    }
}

@media screen and (max-device-width: 380px) and (min-device-width: 1px){

    .grid-template--3,
    .grid-column--4{
        grid-template-columns: 100%;
    }

    .social-ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
    }

}