@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, a {
  color: #1B2B3B;
  font-weight: 900;
  font-family: inherit;
}

.h1, h1 {
  font-size: 3em;
}

.h4, h4,
.h5, h5 {
  font-size: 1.125em;
}

p {
  font-size: 1.125em;
  line-height: 1.5em;
  color: #303030;
  font-family: inherit;
}

a {
  text-decoration: none;
  line-height: inherit;
}

img {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.25em;
  position: relative;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

.btn {
  padding: 1.125em 1.75em 1.125em 1.75em;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 900;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  color: #FFFFFF;
  border: none;
  background-color: #1B2B3B;
  font-family: inherit;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-column--12 {
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}

.grid-column--6 {
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}

.grid-template--3 {
  -ms-grid-columns: 33.33% 33.33% 33.33%;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid-column--4 {
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
}

.parallax {
  height: 9.0625em;
  position: absolute;
  bottom: -0.0625em;
  width: 100%;
  max-width: 100%;
  display: block;
  z-index: 2;
}

.ampersand {
  width: 1.1875em;
  margin: 0 0.5em -0.9375em 0.375em;
}

.header {
  background: #1B2B3B;
  padding-top: 1.375em;
  padding-bottom: 1.25em;
  padding: 1.375em 1.25em 1.25em 1.25em;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 10;
}

.logo-txt {
  color: #FFFFFF;
}

.grid-template--header {
  -ms-grid-columns: 25% calc(75% - .5em);
  grid-template-columns: 25% calc(75% - .5em);
  padding: 0.3125em 0;
}

.header-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-li {
  display: inline-block;
}

.header-menu-a, .secret-menu-a {
  font-size: 0.875em;
  font-weight: normal;
  letter-spacing: 0.0625em;
  line-height: normal;
  color: #FFFFFF;
  padding: 0.3125em 0.3125em 0 1.25em;
  font-family: inherit;
}

.burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  display: none;
}

.burger_c--active .burger_line:first-child {
  -webkit-transform: rotate(49deg) translateY(5px) translateX(7px);
      -ms-transform: rotate(49deg) translateY(5px) translateX(7px);
          transform: rotate(49deg) translateY(5px) translateX(7px);
}
.burger_c--active .burger_line:nth-child(2) {
  opacity: 0;
}
.burger_c--active .burger_line:last-child {
  -webkit-transform: rotate(-50deg) translateY(-5px) translateX(6px);
      -ms-transform: rotate(-50deg) translateY(-5px) translateX(6px);
          transform: rotate(-50deg) translateY(-5px) translateX(6px);
}

.burger_line {
  margin-bottom: 5px;
  width: 30px;
  height: 3px;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.burger_line:last-child {
  margin-bottom: 0;
}

.secret-menu {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1B2B3B;
  display: none;
}

.secret-ul {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.6s ease-in-out;
  -o-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
}

.secret-ul--show {
  max-height: 500px;
}

.secret-menu-a {
  padding-left: 0;
}

.section-1 {
  background: url("02-HomeSlider.jpg") center center no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-slider {
  width: 100%;
  position: relative;
  display: block;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-slider_tx {
  text-align: center;
  margin-top: -5em;
}

.h1--slide,
.h2--slide {
  color: #FFFFFF;
}

.h1--slide {
  font-size: 2.625em;
  margin-bottom: 0.25em;
}

.h2--slide {
  font-size: 1em;
  margin-bottom: 0.625em;
  letter-spacing: 0.125em;
}

.btn--slide {
  margin-top: 2.5em;
}

.section-2 {
  padding: 4.0625em 0;
}

.icon-cont {
  background: #1B2B3B;
  border: 0.125em solid #FFFFFF;
  padding: 1.5625em;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.icon-cont svg {
  width: 2.5em;
  height: auto;
  fill: #FFFFFF;
}
.icon-cont:hover {
  background: none;
  border: 0.125em solid #1B2B3B;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.icon-cont:hover svg {
  stroke: #1B2B3B;
  fill: #1B2B3B;
}

.t-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.9375em;
  text-align: center;
}

.t-icons__title {
  margin: 0.625em 0 0 0;
}

.t-icons__tx {
  margin: 0.625em 0;
}

.section-3 {
  padding-top: 4.0625em;
}

.p-title {
  text-align: center;
}

.p-title__h2 {
  font-size: 2.3125em;
}

.p-title__p {
  position: relative;
  padding: 0 5em;
  display: inline-block;
  font-size: 1.25em;
  font-style: italic;
  margin-bottom: 1.6em;
}
.p-title__p:before, .p-title__p:after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  width: 4em;
  border-bottom: 0.1em solid #1B2B3B;
}
.p-title__p:before {
  left: 0;
}
.p-title__p:after {
  right: 0;
}

.section-3__spacing {
  padding: 2.5em 0;
}

.surprise-box {
  width: 90%;
  margin: 0 auto;
  height: 14.375em;
}

.surprise-box__back-box,
.surprise-box__front-box {
  width: 100%;
  height: 100%;
  padding: 1.25em 0.625em;
}

.surprise-box {
  border: 0.625em solid rgba(0, 0, 0, 0.03);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.surprise-box__scroller {
  top: 0;
  -webkit-transition: top 0.6s ease 0s;
  -o-transition: top 0.6s ease 0s;
  transition: top 0.6s ease 0s;
  z-index: 2;
  position: absolute;
  height: 100%;
  text-align: center;
}
.surprise-box__scroller:hover {
  top: -100%;
}

.surprise-box__front-box {
  background-color: #ECECEC;
  border-top: 0.0625em solid #ECECEC;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.surprise-box__back-box {
  background: none repeat scroll 0 0 #1B2B3B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.surprise-box__back-box p {
  color: #FFFFFF;
}

.surprise-box__title {
  font-size: 1.125em;
}

.icon {
  width: 3.75em;
  height: auto;
}

.section-4 {
  padding: 4.0625em 0;
}

.section-4__spacing {
  padding-top: 2.5em;
}

.year {
  opacity: 0.2;
  font-size: 2.3125em;
}
.year:hover {
  opacity: 1;
}

.employ-history {
  padding: 0.9375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center {
  text-align: center;
}

.company {
  font-size: 1em;
}

.section-5 {
  padding: 4.0625em 0;
}

.skills-desc {
  text-align: center;
  font-size: 1.125em;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 2.5em;
}

.skill-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.875em 1.875em 0;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}

.skill-slider_slide {
  position: relative;
  height: 100%;
  width: 100%;
}
.skill-slider_slide svg {
  width: 8.75em;
  height: 8.75em;
}
.skill-slider_slide:hover .skill-slider_fader {
  opacity: 1;
}

.skill-slider_svg-c {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-slider_fader {
  position: absolute;
  padding: 0.625em 1.25em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #1B2B3B;
  border-radius: 0.3125em;
  width: 80%;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.skill-slider_fader p {
  color: #FFFFFF;
}

.section-6 {
  padding: 4.0625em 0;
}

.projects {
  min-height: 37.5em;
}

.filter-c {
  margin-bottom: 2.75em;
}

.filter-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__blck {
  display: inline-block;
  margin-right: 1.375em;
}

.btn--white {
  background: none;
  border: 0.0625em solid #1B2B3B;
  color: #1B2B3B;
  text-transform: uppercase;
  font-weight: normal;
}

.btn--white--active {
  background: #1B2B3B;
  color: #FFFFFF;
}

.project-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.project-flex:hover .project-desc {
  background: white;
}
.project-flex:hover .projet-img {
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  opacity: 0.9;
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.project-flex--fade {
  opacity: 0;
}

.display-none {
  display: none;
}

.projet-img {
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  opacity: 0.2;
  z-index: 1;
}

.project-desc {
  background: #efefef;
  text-align: center;
  padding: 0.5em 0.3125em;
  width: 100%;
  background: rgba(241, 241, 241, 0.8);
  z-index: 2;
}

.section-7 {
  padding: 4.0625em 0;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 0 1em;
  max-width: 25em;
  opacity: 1;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.contact-label {
  visibility: hidden;
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 0.0625em;
  margin: -0.0625em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625em;
}

.contact-ul {
  width: 100%;
  list-style: none;
}

.contact-ul__li {
  margin-bottom: 0.8em;
}

.contact-input {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
  border: 0.0625em solid rgba(0, 0, 0, 0.03);
  color: #1B2B3B;
  display: block;
  padding: 0.8em;
  resize: none;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
}
.contact-input:focus {
  border: 0.0625em solid #FFFFFF;
}

.contact-submit {
  background: none repeat scroll 0 0 #1B2B3B;
  border: 0 none;
  color: #FFFFFF;
  display: block;
  font-weight: normal;
  padding: 0.8em 0;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.social-contact {
  margin-top: 6.25em;
}

.social-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.social-svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5em;
}
.social-svg svg {
  width: 1.0625em;
  height: auto;
}

.social-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.25em;
}

.footer {
  padding: 1.5625em 0;
  background-color: #1B2B3B;
  text-align: center;
}
.footer p {
  color: #FFFFFF;
  font-size: 1em;
}