@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import "mixin.scss";

// http://vibranttheme.com/theme/4/LightVariant/cross-section/index.html

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6, a{
    color: $black-hs;
    font-weight: 900;
    font-family: inherit;
}

.h1, h1{
    font-size: 3em;
}

.h4, h4,
.h5, h5{
    font-size: 1.125em;
}

p{
    font-size: 1.125em;
    line-height: 1.5em;
    color: $blackish;
    font-family: inherit;
}

a{
    text-decoration: none;
    line-height: inherit;
}

img{
    max-width: 100%;
    margin: 0 auto;
    width:100%;
}

.container{
    max-width: 75em;
    margin: 0 auto;
    padding: 0 1.25em;
    position: relative;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.btn{
    padding: 1.125em 1.75em 1.125em 1.75em;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s ease-out 0s;
    color: $white;
    border: none;
    background-color: $black-hs;
    font-family: inherit;
}

.grid{
    display:grid;
}

.grid-column--12{
    grid-template-columns: 100%;
}

.grid-column--2{
    grid-template-columns: 50% 50%;
}

.grid-template--3{
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid-column--4{
    grid-template-columns:25% 25% 25% 25%;
}

.parallax{
    height: 9.0625em;
    position: absolute;
    bottom: -0.0625em;
    width: 100%;
    max-width: 100%;
    display: block;
    z-index: 2;
}

.ampersand{
    width: 1.1875em;
    margin: 0 0.5em -0.9375em 0.375em;
}

// HEADER

.header{
    background:$black-hs;
    padding-top: 1.375em;
    padding-bottom: 1.25em;
    padding: 1.375em 1.25em 1.25em 1.25em;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    transition: all 1s;
    z-index: 10;
}

.logo-txt{
    color: $white;
}

.grid-template--header{
    grid-template-columns: 25% calc(75% - .5em);
    padding:0.3125em 0;
}

.header-menu{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-menu-li{
    display:inline-block;
}

.header-menu-a{
    font-size: 0.875em;
    font-weight: normal;
    letter-spacing: 0.0625em;
    line-height: normal;
    color: $white;
    padding: 0.3125em 0.3125em 0 1.25em;
    font-family: inherit;
}

.burger{
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    display: none;
}

.burger_c--active{
    .burger_line{
        &:first-child{
            transform: rotate(49deg) translateY(5px) translateX(7px);
        }
        &:nth-child(2){
            opacity: 0;
        }
        &:last-child{
            transform: rotate(-50deg) translateY(-5px) translateX(6px);
        }
    }
}

.burger_line{
    margin-bottom: 5px;
    width:30px;
    height: 3px;
    background:$white;
    border-radius: 5px;
    transition: all 0.4s ease;
    &:last-child{
        margin-bottom: 0;
    }
}

.secret-menu{
   position: relative;
   top: 100%;
   left: 0;
   width: 100%;
   background: $black-hs;
   display:none;
}

.secret-ul{
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease-in-out;
}

.secret-ul--show{
    max-height: 500px;
}

.secret-menu-a{
    @extend .header-menu-a;
    padding-left: 0;
}

// SECTION 1

.section-1{
    background: url("02-HomeSlider.jpg") center center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-slider{
    width: 100%;
    position: relative;
    display: block;
    height: 90vh;
   
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero-slider_tx{
    text-align: center;
    margin-top: -5em;
}

.h1--slide,
.h2--slide{
    color: $white;
}

.h1--slide{
    font-size: 2.625em;
    margin-bottom: 0.25em;
}

.h2--slide{
    font-size: 1em;
    margin-bottom: 0.625em;
    letter-spacing: 0.125em;
}

.btn--slide{
    margin-top: 2.5em;
}

// SECTION 2

.section-2{
    padding: 4.0625em 0;
}

.icon-cont{
    background: $black-hs;
    border: 0.125em solid $white;
    padding: 1.5625em;
    transition: all 0.4s ease-in-out 0s;
    svg{
        width: 2.5em;
        height: auto;
        fill: $white;
    }
    &:hover{
        background: none;
        border: 0.125em solid $black-hs;
        transform: rotate(180deg);
        svg{
          stroke: $black-hs;
          fill: $black-hs;
        }
    }
}

.t-icons{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 0.9375em;
    text-align: center;
}

.t-icons__title{
    margin: 0.625em 0 0 0;
}

.t-icons__tx{
    margin: 0.625em 0;
}

// SECTION 3

.section-3{
    padding-top: 4.0625em;
}

.p-title{
    text-align: center;
}
.p-title__h2{
    font-size: 2.3125em;
}

.p-title__p{
    position: relative;
    padding: 0 5em;
    display: inline-block;
    font-size: 1.25em;
    font-style:italic;
    margin-bottom: 1.6em;
 &:before,
 &:after{
     display:inline-block;
     content:"";
     position: absolute;
     top: 50%;
     width: 4em;
     border-bottom: 0.1em solid $black-hs;
 }
 
 &:before{
     left:0;
 }
 &:after{
     right: 0;
 }
}

.section-3__spacing{
    padding: 2.5em 0;
}

.surprise-box{
    width: 90%;
    margin: 0 auto;
    height: 14.375em;
}

.surprise-box__back-box,
.surprise-box__front-box{
    width: 100%;
    height: 100%;
    padding: 1.25em 0.625em;
}

.surprise-box{
    border: 0.625em solid rgba(0, 0, 0, 0.03);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.surprise-box__scroller{
    top: 0;
    transition: top 0.6s ease 0s;
    z-index: 2;
    position: absolute;
    height: 100%;
    text-align: center;
    &:hover{
        top: -100%;
    }
}

.surprise-box__front-box{
    background-color: $gray-ec;
    border-top: 0.0625em solid $gray-ec;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.surprise-box__back-box{
    background: none repeat scroll 0 0 #1B2B3B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        color: $white;
    }
}

.surprise-box__title{
    font-size: 1.125em
}

.icon{
    width: 3.75em;
    height: auto;
}

// SECTION 4    

.section-4{
    padding: 4.0625em 0;
}

.section-4__spacing{
    padding-top: 2.5em
}

.year{
    opacity: 0.2;
    font-size:2.3125em;
    &:hover{
        opacity: 1;
    }
}

.employ-history{
    padding: 0.9375em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.center{
    text-align: center;
}

.company{
    font-size: 1em;
}


// SECTION 5

.section-5{
    padding: 4.0625em 0;
}

.skills-desc{
    text-align: center;
    font-size: 1.125em;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 2.5em
}

.skill-slider{
    display:flex;
    padding: 1.875em 1.875em 0;
    width:100%;
    max-width: 50em;
    margin: 0 auto;
}

.skill-slider_slide{
    
    position: relative;
    height: 100%;
    width: 100%;
    svg{
        width: 8.75em;
        height: 8.75em;
    }
    &:hover{
        .skill-slider_fader{
            opacity: 1;
        }
    }
}

.skill-slider_svg-c{
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-slider_fader{
    position: absolute;
    padding:0.625em 1.25em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: $black-hs;
    border-radius: 0.3125em;
    width: 80%;
    margin:0 auto;
    transition: all 0.4s ease-in-out 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
        color: $white;
    }
}

// SECTION 6

.section-6{
    padding: 4.0625em 0;
}

.projects{
    min-height: 37.5em;
}

.filter-c{
    margin-bottom: 2.75em;
}
.filter-btns{
    display:flex;
    list-style: none;
    justify-content: center;
}

.filter__blck{
    display: inline-block;
    margin-right: 1.375em;
}

.btn--white{
    background: none;
    border: 0.0625em solid $black-hs;
    color: $black-hs;
    text-transform: uppercase;
    font-weight: normal;
}

.btn--white--active{
    background: $black-hs;
    color: $white;
}

.project-flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    &:hover{
        .project-desc{
            background: rgba(255,255,255,1);
        }
        .projet-img{
            transition-duration: 0.8s;
            opacity: .9;
            transform: scale(1.2,1.2);
        }
    }
}

.project-flex--fade{
    opacity: 0;
}

.display-none{
    display:none;
}

.projet-img{
    transition-duration: 0.8s;
    opacity: .2;
    z-index: 1;
} 

.project-desc{
    background: #efefef;
    text-align: center;
    padding: 0.5em 0.3125em;
    width: 100%;
    background: rgba(241,241,241,.8);
    z-index: 2;
}


// SECTION 7

.section-7{
    padding: 4.0625em 0;
}

.contact-form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0 1em;
    max-width: 25em;
    opacity: 1;
    transition: all 0.2s ease-out 0s;
}

.contact-label{
    visibility: hidden;
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 0.0625em;
    margin: -0.0625em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.0625em;
}

.contact-ul{
    width: 100%;
    list-style: none;
}

.contact-ul__li{
    margin-bottom: 0.8em;
}

.contact-input{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
    border: 0.0625em solid rgba(0, 0, 0, .03);
    color: $black-hs;
    display: block;
    padding: 0.8em;
    resize: none;
    transition: all 0.2s ease-out 0s;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    &:focus{
        border: 0.0625em solid $white;
    }
}

.contact-submit{
    background: none repeat scroll 0 0 $black-hs;
    border: 0 none;
    color: $white;
    display: block;
    font-weight: normal;
    padding: 0.8em 0;
    transition: all 0.2s ease-out 0s;
    width: 100%;
    box-shadow: none;
}

.social-contact{
    margin-top: 6.25em;
}

.social-ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-svg{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    svg{
        width: 1.0625em;
        height: auto;
    }
}

.social-li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.25em;
}

.footer{
    padding: 1.5625em 0;
    background-color: $black-hs;
    text-align: center;
    p{
        color: $white;
        font-size: 1em;
    }
}

