@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import "mixin.scss";

// http://vibranttheme.com/theme/4/LightVariant/cross-section/index.html

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6, a{
    color: $black-hs;
    font-weight: 900;
    font-family: inherit;
}

.h1, h1{
    font-size: 3em;
}

.h4, h4,
.h5, h5{
    font-size: 1.125em;
}

p{
    font-size: 1.125em;
    line-height: 1.5em;
    color: $blackish;
    font-family: inherit;
}

a{
    text-decoration: none;
    line-height: inherit;
}

img{
    max-width: 100%;
    margin: 0 auto;
    width:100%;
}

.container{
    max-width: 75em;
    margin: 0 auto;
}

.btn{
    padding: 18px 28px 18px 28px;
    display: inline-block;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s ease-out 0s;
    color: $white;
    border: none;
    background-color: $black-hs;
    font-family: inherit;
}

.grid{
    display:grid;
}

.grid-column--12{
    grid-template-columns: 100%;
}

.grid-column--6{
    grid-template-columns: 50% 50%;
}

.grid-template--3{
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid-column--4{
    grid-template-columns:25% 25% 25% 25%;
}

.parallax{
    height: 145px;
    position: absolute;
    bottom: -1px;
    width: 100%;
    max-width: 100%;
    display: block;
    z-index: 2;
}

.ampersand{
    width: 19px;
    margin: 0 8px -15px 6px;
}

// HEADER

.header{
    background:$black-hs;
    padding-top: 1.375em;
    padding-bottom: 1.25em;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
    transition: all 1s;
    z-index: 10;
}

.logo-txt{
    color: $white;
}

.grid-template--header{
    grid-template-columns: 25% calc(75% - .5em);
}

.header-menu{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-menu-li{
    display:inline-block;
}

.header-menu-a{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: normal;
    color: $white;
    padding: 5px 5px 0 20px;
    font-family: inherit;
}

// SECTION 1

.section-1{
    background: url("02-HomeSlider.jpg") 0px center fixed;
}

.slides{
    width: 100%;
    position: relative;
    display: block;
    height: 90vh;
   
    display:flex;
    justify-content: center;
    align-items: center;
}

.slides-text{
    text-align: center;
    margin-top: -5em;
}

.h1--slide,
.h2--slide{
    color: $white;
}

.h1--slide{
    font-size: 2.625em;
    margin-bottom: 0.25em;
}

.h2--slide{
    font-size: 1em;
    margin-bottom: 0.625em;
    letter-spacing: 2px;
}

.btn--slide{
    margin-top: 2.5em;
}

// SECTION 2

.icon-cont{
    background: $black-hs;
    border: 2px solid $white;
    padding: 1.5625em;
    transition: all 0.4s ease-in-out 0s;
    svg{
        width: 2.5em;
        height: auto;
        fill: $white;
    }
    &:hover{
        background: none;
        border: 2px solid $black-hs;
        transform: rotate(180deg);
        svg{
          stroke: $black-hs;
          fill: $black-hs;
        }
    }
}

.t-icons{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0.9375em;
    text-align: center;
}

.t-icons__title{
    margin: 10px 0 0 0;
}

.t-icons__tx{
    margin: 10px 0;
}

// SECTION 3

.section-3{
    padding-top: 5.1875em;
}

.p-title{
    text-align: center;
}
.p-title__h2{
    font-size: 2.3125em;
}

.p-title__p{
    position: relative;
    padding: 0 5em;
    display: inline-block;
    font-size: 1.25em;
    font-style:italic;
    margin-bottom: 1.6em;
 &:before,
 &:after{
     display:inline-block;
     content:"";
     position: absolute;
     top: 50%;
     width: 4em;
     border-bottom: 0.1em solid $black-hs;
 }
 
 &:before{
     left:0;
 }
 &:after{
     right: 0;
 }
}

.section-3__spacing{
    padding: 2.5em 0;
}

.surprise-box{
    width: 90%;
    margin: 0 auto;
    height: 230px;
}

.surprise-box__back-box,
.surprise-box__front-box{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}

.surprise-box{
    border: 10px solid rgba(0, 0, 0, 0.03);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.surprise-box__scroller{
    top: 0;
    transition: top 0.6s ease 0s;
    z-index: 2;
    position: absolute;
    height: 100%;
    text-align: center;
    &:hover{
        top: -100%;
    }
}

.surprise-box__front-box{
    background-color: $gray-ec;
    border-top: 1px solid $gray-ec;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.surprise-box__back-box{
    background: none repeat scroll 0 0 #1B2B3B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        color: $white;
    }
}

.surprise-box__title{
    font-size: 18px;
}

.icon{
    width: 60px;
    height: auto;
}

// SECTION 4    

.section-4{
    padding: 40px 0;
}

.section-4__spacing{
    padding-top: 40px;
}

.year{
    opacity: 0.2;
    font-size:2.3125em;
    &:hover{
        opacity: 1;
    }
}

.employ-history{
    padding: 0.9375em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.center{
    text-align: center;
}

.company{
    font-size: 16px;
}







