
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat:400,500&display=swap');
@import "mixin.scss";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    font-family: sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6, a{
    color: $black-hs;
    font-weight: 900;
    font-family: $font-hs;
}

h4,h5{
    font-size: 1.125em;
}

p{
    font-size: 1.125em;
    line-height: 1.5em;
    color: $blackish;
    font-family: $font-ps;
}

a{
    text-decoration: none;
    line-height: inherit;
}

img{
    max-width: 100%;
    margin: 0 auto;
    width:100%;
}

.container{
    max-width: 75em;
    margin: 0 auto;
}

.grid{
    display:grid;
}

.grid-column--12{
    grid-template-columns: 100%;
}

.grid-column--6{
    grid-template-columns: 50% 50%;
}

.grid-column--4{
    grid-template-columns:25% 25% 25% 25%;
}

// HEADER

.header{
    background:$header-background;
    padding-top: 1.375em;
    padding-bottom: 1.25em;
}

.logo-txt{
    color: $white;
}

.grid-template--header{
    grid-template-columns: 25% calc(75% - .5em);
}

.header-menu{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-menu-li{
    display:inline-block;
}

.header-menu-a{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: normal;
    color: $white;
    padding: 5px 5px 0 20px;
}







